$font-family-sans-serif:      -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;
$font-family-monospace:       SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !default;
$font-family-base:            $font-family-sans-serif !default;

$color-white: white;
$color-gray-darkest: #222;

$space: 1rem;

$color-rainbow-green: #42b983;
$color-rainbow-orange: #F97C39;
$color-rainbow-yellow: #e6ab02;
$color-rainbow-white: #FAFAFD;
$color-rainbow-lila: #E52D98;
$color-rainbow-red:  #e7298a;
$color-rainbow-blue: #1F98C6;
$color-background-blue: #1F98C6;